* {
  color: #ddd;
}

li {
  list-style-type: none;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #3e795f;
}

#timer {
  height: 100px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-150px, -50px);
  text-align: center;
  font-size: 85px;
}

#timer p {
  text-align: center;
  font-size: 50px;
}

#control {
  position: absolute;
  height: 100px;
  width: 200px;
  top: 50%;
  left: 50%;
  font-size: 50px;
  transform: translate(-100px, 50px);
  text-align: center;
  border-top: 1px solid white;
  padding-top: 10px;
}

#title {
  font-size: 45px;
  padding: 10px;
  font-weight: bold;
  font-style: italic;
}

#settings {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 45px;
}

.fa {
  display: inline-block;
  cursor: pointer;
}

#settings-panel {
  position: absolute;
  width: 300px;
  top: 35px;
  right: 35px;
  font-size: 23px;
}

.closed {
  visibility: hidden;
}

.open {
  visibility: visible;
}

.curr {
  width: 20px;
}

.settings > div {
  display: inline-block;
  text-align: left;
}

#Breaktime-name,
#Pomodoro-name {
  cursor: pointer;
}

.time {
  margin-left: 30px;
}

.time i,
.time div {
  display: inline-block;
  width: 35px;
  text-align: center;
}
