
/* +++++
PAGE STYLES
+++++ */

body {
  width: 85%;
  margin: 0 auto;
}

p, li, h1, h2, h3, cite {
  font-family: 'Source Sans Pro', sans-serif;
}

/* +++++
FONT STYLING
+++++ */

p, li {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

h1 {
  font-size: 55px;
  text-align: center;
  font-weight: 600;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 28px;
  font-weight: 600;
}

i {
  font-style: italic;
  font-weight: 700;
}

/* +++++
BLOCK QUOTES & FIGURES
+++++ */

figure {
  position: relative;
  padding-bottom: 20px;
}

img {
  display: block;
  margin: 0 auto;
  padding: 0 0 10px 10px;
  max-width: 100%;
}

.illustration {
  float: right;
}

blockquote {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

blockquote p {
  padding-bottom: 20px;
  font-size: 22px;
  font-style: italic;
}

cite, figcaption {
  position: absolute;
  right: 0;
  bottom: 0;
  font-style: normal;
}

/* +++++
HEADER & NAVIGATION
+++++ */

header {
  border-bottom: 2px solid black;
}

.heading {
  padding: 20px 10% 0 10%;
}

/* +++++
PAGE SECTIONS
+++++ */

section {
  margin: 35px auto;
  padding-bottom: 15px;
  max-width: 1000px;
}

.footnote {
  text-align: center;
  font-style: italic;
  font-weight: 400;
}
